<section>

  <!--Style Tile -->
  <md-card class="languageCard">
    <md-radio-group 
          class="flex-container" 
          fxLayout="column"
          fxLayout.gt-xs = "row"
          fxLayoutAlign="space-around"
          [(ngModel)]="lanStyle">
      <md-radio-button value="alphabet">Alphabet Based Language eg. English</md-radio-button>
      <md-radio-button value="character">Character Based Language eg. Chinese</md-radio-button>
    </md-radio-group>
  </md-card>

  <!-- Examples Section --> 
  <section>
  <md-card>
    <md-card-title> Sample Conversion </md-card-title>
    <md-card> 
      <md-card-title>Sample Input</md-card-title>
      <md-card-content>The quick <b></b> brown fox jumps over the lazy dog</md-card-content>
    </md-card>
    <md-card> 
      <md-card-title>Sample Output</md-card-title>
      <md-card-content>The quick brown fox jumps over the lazy dog</md-card-content>
    </md-card>
  </md-card>

  <!--Button Tile -->
  <md-card
          class="flex-container" 
          fxLayout="column"
          fxLayout.gt-xs = "row"
          fxLayoutAlign="space-around">

    <button class="btn" md-raised-button color="accent"
      (click)="removeWhiteSpace()">
      Convert Text
    </button>

    <button class="btn"  md-raised-button color="accent"
      data-clipboard-target="#area2">
      Copy to Clipboard
    </button>

    <button class="btn" md-raised-button color="warn"
      (click)="reset()">
      Reset
    </button>
  </md-card>


  <section 
          class="flex-container text-tile"
          fxLayout="column"
          fxLayout.gt-xs = "row"
          fxLayoutAlign="space-between">
    <!-- Input Tile-->
    <md-input-container> 
      <textarea 
        mdInput
        name="inputArea"
        placeholder="Enter Your Text Here" 
        rows ="14"
        cols="40"
        [(ngModel)] = "strI"></textarea>
    </md-input-container>

    <!-- Output Tile-->
    <md-input-container>
      <textarea 
        mdInput
        id="area2"
        name="outputArea"
        placeholder="Copy Your Formatted Text Here" 
        rows="14"
        cols="40"
        [(ngModel)] = "strO"></textarea>
    </md-input-container>
  </section>

</section>