// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme.scss';


textarea {
  resize: none;
}

md-card {
  margin-top: 12px;
}

/*
md-sidenav {
  width: 40vw; 
}


*/

p {
  white-space: pre-wrap;
}

.example-sidenav-fab-container {
  height: 95vw;
}

.example-sidenav-fab-container md-sidenav {
  //max-width: 200px;

}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

